@import url('https://fonts.googleapis.com/css2?family=Zhi+Mang+Xing&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0 100px 0;
}